<!DOCTYPE html>
<html lang="en">
<head>
    <title>Full cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h1>Add a New Product</h1>
                <form method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="category_name">Category Name: </label>
                                <input type="text" id="category_name" class="form-control" name="category_name">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Brand: </label>
                                <input type="text" id="product_name" class="form-control" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Average rating: </label>
                                <input type="number" id="product_name" class="form-control" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Total rating: </label>
                                <input type="number" id="product_name" class="form-control" name="product_name">
                            </div><div class="form-group">
                                <label for="product_name">Discount percent(%): </label>
                                <input type="number" id="product_name" class="form-control" name="product_name">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Actual Price:  (Rs.)  </label>
                                <input type="number" id="product_name" class="form-control" name="actual_price">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Selling Price:  (Rs.) </label>
                                <input type="number" id="product_name" class="form-control" name="selling_price">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Status: </label>
                                <input type="text" id="product_name" class="form-control" name="status">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Image: </label>
                                <input type="text" id="product_name" class="form-control" name="image">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Sub images: </label>
                                <input type="text" id="product_name" class="form-control" name="sub_images">
                            </div>
                            <div class="form-group">
                                <label for="product_name">Description: </label>
                                <textarea type="text" id="product_name" class="form-control" name="description"></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>