<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <title>Full cart</title>
</head>
<body>
    <div class="container ">
        <div class="row custom-row">
    <div class="card" style="width: 18rem; margin: 15px;">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <p class="card-text">12</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 15px;">
        <div class="card-body">
          <h5 class="card-title">Total Admin</h5>
          <p class="card-text">12</p>
          
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 15px;">
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text">12</p>
          
        </div>
      </div>
    </div>
    </div>
    <div class="row custom-row">

        <a href="#" class="btn btn-primary button-product">Add Product</a>
        <a href="#" class="btn btn-primary button-product">View Products list</a>
    </div>
    
    </div>
</body>
</html>