
  
  <div class="modal" tabindex="-1" style="display: block; background-color: #4343433b;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">400</h5>
          <a type="button" class="close" data-dismiss="modal" aria-label="Close" href="/addproduct" >
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <p> <%= error %></p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" data-dismiss="modal" href="/addproduct">Close</a>
          
        </div>
      </div>
    </div>
  </div>

  