
<head>
<link rel="stylesheet" href="/stylesheets/sidebar.css">

</head>
<div class="sidenav">
  <a href="/dashboard">Home</a>
  <a href="/viewproducts">View Products</a>
  <a href="/addproduct">Add Product</a>
  <a href="/add-category">Add Category</a>
 <a href= "/recent-orders">Recent Orders</a>
  <a href="/order">Order Stats</a>
  <a href="/api-logs">API logs</a>

</div>


   


