
<head>
<link rel="stylesheet" href="/stylesheets/sidebar.css">

</head>
<div class="sidenav">
  <a href="/dashboard">Home</a>
  <a href="/viewproducts">View Products</a>
  <a href="/addproduct">Add Product</a>
  <a href="/order">Orders</a>
</div>


   


